* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
    box-sizing: border-box;
    list-style: none;
}

.container {
    display: grid;
    justify-content: center;
    margin: 20px;
}

.first-container {
    display: flex;
    background-color: #EAEAEA;
    padding: 15px;
    border-radius: 5px;
    align-items: center;
}

.add,
.delete {
    all: unset;
    color: white;
    background-color: #f44336;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
}

.tex {
    border: none;
    width: 200px;
    height: 33px;
    padding: 6px;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
}

.item {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    background-color: #eaeaea;
    border-radius: 5px;
    color: rgb(24, 17, 17);
    align-items: center;
    font-size: 20px;
}

.done {
    opacity: 0.5;
}




.alert {
    text-transform: capitalize;
    width: 310px;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
    margin-top: 15px;
    transition: all 0.3s;
    padding: 5px;
    border-radius: 5px;
}

.alert-danger {
    color: #721c24;
    background: #f8d7da;
    opacity: 1;
}

.alert-suc {
    color: #155724;
    background: #d4edda;
    opacity: 1;
}

.delete {
    font-size: 17px;
}

.done {
    opacity: 0.5;
}

.con {
    display: flex;
    align-items: center;
}

.checkbox {
    --background: #fff;
    --border: #d1d6ee;
    --border-hover: #bbc1e1;
    --border-active: #1e2235;
    --tick: #fff;
    position: relative;
    margin-right: 5px;
}

.checkbox input,
.checkbox svg {
    width: 21px;
    height: 21px;
    display: block;
}

.checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    background: var(--background);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    transition: box-shadow 0.3s;
    box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
}

.checkbox input:hover {
    --s: 2px;
    --b: var(--border-hover);
}

.checkbox input:checked {
    --b: var(--border-active);
}

.checkbox svg {
    pointer-events: none;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, var(--border-active));
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    transform: scale(var(--scale, 1)) translateZ(0);
}

.checkbox.path input:checked {
    --s: 2px;
    transition-delay: 0.4s;
}

.checkbox.path input:checked+svg {
    --a: 16.1 86.12;
    --o: 102.22;
}

.checkbox.path svg {
    stroke-dasharray: var(--a, 86.12);
    stroke-dashoffset: var(--o, 86.12);
    transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
}

.item p {
    margin-bottom: 5px;
}

.btn-con {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    display: none;
}

.btn-con button {
    all: unset;
    background-color: #1bc4b4;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer
}

.show {
    display: flex;
}
